<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bipandeng.mapper.GoodsMapper">


	<select id="queryList"  resultType="com.bipandeng.bean.Goods">

		SELECT g.*,b.bname,k.kname FROM tb_goods g JOIN tb_brand b ON b.bid=g.bid
		JOIN tb_goodskind k ON g.kid=k.kid
	</select>
</mapper>